
 <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Books</title>
  </head>

  <body>
    <div class = "container">
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope = "col"> User ID </th>
              <th scope="col"> Amount of Fine ($) </th>
            </tr>
          </thead>
          {% for fine in listOfFines %}
          <tbody>
            <th scope = "row"> {{fine.userid.userid}} </th>
            <td> {{fine.fineamount}} </td>
          </tbody>
          {% endfor %}
      </div> 

      <div class="container">
        <thead>
          <tr>
            <th scope = "col"> User ID </th>
            <th scope="col"> Book borrowed </th>
          </tr>
        </thead>
        {% for user in listOfBorrow %}
        <tbody>
          <th scope = "row"> {{user.userid.userid}} </th>
          <td> {{user.bookid.bookid}} </td>
        </tbody>
        {% endfor %}
      </div>

      <div class="container">
        <thead>
          <tr>
            <th scope = "col"> User ID </th>
            <th scope="col"> Book reserved </th>
          </tr>
        </thead>
        {% for user in listOfReservations %}
        <tbody>
          <th scope = "row"> {{user.userid}} </th>
          <td> {{user.bookid}} </td>
        </tbody>
        {% endfor %}
      </div>
  </div>

  </body>
</html>
