{% extends "project/base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Books</title>
  </head>
  {% block content %}

  <body>
    <!--     <button type="button" class="btn btn-outline-primary">Borrow</button>
    <button type="button" class="btn btn-outline-primary">Reservations</button>
    <button type="button" class="btn btn-outline-primary">Fines</button>
 -->
    <div class="container-fluid">
      <div class="row">
        <!-- If you want to have just one table, you adjust all these 5s to 11 / 12, and then you don't need the above div row -->
        <!-- The tables are at http://localhost:8000/fine, login with root, password 12345-->

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <h2 class="sub-header">All borrowed books</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col-md-1">User ID</th>
                  <th scope="col-md-1">Book ID</th>
                  <th scope="col-md-2">Extended</th>
                  <th scope="col-md-2">Due Date</th>
                </tr>
              </thead>
              {% for user in listOfBorrow %}
              <tbody>
                <th scope="row">
                  <a class="nav-link" href="{% url 'user-profile' user.userid.userid %}">
                    <div style="height: 100%; width: 100%">{{user.userid.userid}}</div>
                  </a>
                </th>
                <td>{{user.bookid.bookid}}</td>
                {% if user.extend == 1 %}
                <td>Extended Once</td>
                {% else %}
                <td>Never</td>
                {%endif%}
                <td>{{user.duedate}}</td>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <h2 class="sub-header">All reserved books</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col-md-1">User ID</th>
                  <th scope="col-md-1">Book ID</th>
                  <th scope="col-md-2">Earliest Borrow Date</th>
                </tr>
              </thead>
              {% for user in listOfReservations %}
              <tbody>
                <th scope="row">
                  <a href="{% url 'user-profile' user.userid.userid %}">
                    <div style="height: 100%; width: 100%">{{user.userid.userid}}</div>
                  </a>
                </th>
                <td>{{user.bookid.bookid}}</td>
                <td>{{user.reservedate}}</td>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <h2 class="sub-header">All fines</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col-md-1">User ID</th>
                  <th scope="col-md-2">Amount of Fine ($)</th>
                </tr>
              </thead>
              {% for fine in listOfFines %}
              <tbody>
                <th scope="row">
                  <a href="{url 'user-profile' fine.userid.userid}">
                    <div style="height: 100%; width: 100%">{{fine.userid.userid}}</div>
                  </a>
                </th>
                <td>{{fine.fineamount}}</td>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>

    {% endblock%}
  </body>
</html>
