{% extends "project/base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{book.title}}</title>

    <!-- Bootstrap -->
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <!-- title, pageCount, publishedDate, thumbnailUrl, longDescription -->
  <body>

    {% block content %}
      <!-- Book description -->
      <div class="border-dark d-flex flex-column justify-content-around" style="width: 50%; margin:0 auto;">
        <img src={{book.thumbnailUrl}} alt="", style = "height: 500px; width:500px">
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">{{book.shortDescription}}</p>
          <!-- Post request to update database -->
          <a class="btn btn-lg btn-primary" href="{% url 'home'%}" role="button">Borrow</a>
        </div>

        <dl class="row">
            <dt class="col-sm-3">Title</dt>
            <dd class="col-sm-9">{{book.title}}</dd>
          
            <dt class="col-sm-3">Number of pages</dt>
            <dd class="col-sm-9">
              <p>{{book.pageCount}}</p>
            </dd>
          
            <dt class="col-sm-3">Authors</dt>
            <dd class="col-sm-9">{%for author in book.authors%}
                {{author}},
              {% endfor %}</dd>
          
            <dt class="col-sm-3 text-truncate">Description</dt>
            <dd class="col-sm-9">{{book.longDescription}}</dd>
          </dl>
    </div>
    {% endblock%}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--     <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script> -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
     crossorigin="anonymous"></script>
  </body>
</html>