{% extends "project/base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Books</title>
  </head>
  <body>
    <!-- Flash message for sucessful login / registeration -->
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %} {% block content %}
    <!-- title, thumbnailUrl, authors, categories, longDescription -->
    <div class="container">
      {% for book in bookCollection %} {% if forloop.counter0|divisibleby:5 %}
      <div class="row text-center d-flex justify-content-around">
        {% endif %}
        <div class="col-md-2" style="cursor: pointer">
          <div class="card" style="width: 12rem; height: 25rem">
            <img src="{{book.thumbnailUrl}}" alt="" , style="height: 60%" />
            <div class="card-content d-flex flex-column justify-content-around" style="height: 30%">
              <h6>{{ book.title }}</h6>
              <a type="button" href="{% url 'book-detail' book.id%}" class="btn btn-outline-success">View Book</a>
              <!--                          <div class="text-left ml-3" style="font-size: 12px;">
                           {% for author in book.authors %}
                           {% if author != "" %}
                           <li>{{ author}}</li>
                           {% endif %}
                           {% endfor %}
                         </div> -->
              <br />
            </div>
            <!-- card content -->
          </div>
          <!-- card -->
        </div>
        <!-- col-md-4 -->
        {% if forloop.counter|divisibleby:5 or forloop.last %}
      </div>
      <!-- row closing -->
      <hr />
      {% endif %} {% endfor %}
    </div>
    <!-- container -->
    {% endblock%}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
