{% extends "project/base.html" %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />

  <title>Books</title>
</head>
{% block content %}
<!-- <div class="card" style="width: 18rem; margin: 0 auto">
  <div class="card-body">
    <h3 class="card-title">Profile</h3>
    <p class="card-text">Username: {{user.username}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
 -->

<body>
  <div class="container-fluid">
    <h1>{{user.username}}'s profile</h1>
    <h2>Total fine : ${{totalFine}}</h2>
    <a class="btn btn-lg btn-primary" href="{% url 'makePayment' user.id%}" role="button"> Pay off my fines </a>
    <div class="row">
      <!-- If you want to have just one table, you adjust all these 5s to 11 / 12, and then you don't need the above div row -->
      <!-- The tables are at http://localhost:8000/fine, login with root, password 12345-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h2 class="sub-header">Current books borrowed</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col-md-1">Book ID</th>
                <th scope="col-md-1">Expected Due Date</th>
                <th scope="col-md-2">Return</th>
                <th scope="col-md-2">Extend</th>
              </tr>
            </thead>
            {% for borrowObject in borrowList %}
            <tbody>
              <th scope="row">{{borrowObject.bookid.bookid}}</th>
              <td>{{borrowObject.duedate}}</td>
              <td>
                <a href="{% url 'returnBook' borrowObject.bookid.bookid userid %}">
                  <div style="height: 100%; width: 100%">Return</div>
                </a>
              </td>
              <td>
                <a href="{% url 'extend' borrowObject.bookid.bookid userid%}">
                  <div style="height: 100%; width: 100%">Extend</div>
                </a>
              </td>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h2 class="sub-header">Current book reservations</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col-md-1">Book Id</th>
                <th scope="col-md-2">Cancel</th>
              </tr>
            </thead>
            {% for reserveObject in reserveList %}
            <tbody>
              <th scope="row">{{reserveObject.bookid.bookid}}</th>
              <td>
                <a href="{% url 'cancelRes' reserveObject.bookid.bookid userid  %}">
                  <div style="height: 100%; width: 100%">Cancel</div>
                </a>
              </td>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h2 class="sub-header">Current Fines</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col-md-1">Book Id</th>
                <th scope="col-md-2">$</th>
              </tr>
            </thead>
            {% for singleFine in fine %}
            <tbody>
              <th scope="row">{{singleFine.bookid.bookid}}</th>
              <td>
                  <div style="height: 100%; width: 100%">{{ singleFine.fineamount }}</div>
                </a>
              </td>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>

  {% endblock%}
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</body>
