{% extends "project/base.html" %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />

  <title>Books</title>
</head>
{% block content %}
<!-- <div class="card" style="width: 18rem; margin: 0 auto">
  <div class="card-body">
    <h3 class="card-title">Profile</h3>
    <p class="card-text">Username: {{user.username}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
 -->

<body>
  <div class="container-fluid">
    <p>Are you sure you want to delete these reservations and add these fine to the users?</p>
    <div class="row">
      <!-- If you want to have just one table, you adjust all these 5s to 11 / 12, and then you don't need the above div row -->
      <!-- The tables are at http://localhost:8000/fine, login with root, password 12345-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h2 class="sub-header">Current book borrowings</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col-md-1">Book Title</th>
                <th scope="col-md-2">Return</th>
                <th scope="col-md-2">Extend</th>
              </tr>
            </thead>
            <tbody>
              {% for borrowObject in borrowList %}
              <th scope="row">{{userid}}</th>
              <td>{{bookid}}</td>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h2 class="sub-header">Current book reservations</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col-md-1">Book Title</th>
                <th scope="col-md-2">Cancel</th>
              </tr>
            </thead>
            <tbody>
              {% for reserveObject in reserveList %}
              <th scope="row">{{userid}}</th>
              <td>{{amount}}</td>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% endblock%}
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</body>
